---
import Layout from "../../layouts/Layout.astro";

import WatchGame from "../../components/WatchGame.astro";
import Results from "../juegos/Results.astro";
import Sponsors from "../../sections/Sponsors.astro";
import { GET_JUEGOS } from "../../const/juegos";

const { id } = Astro.params;
console.log(id);
const TOTAL_JUEGOS = await GET_JUEGOS();
// El id que estás buscando
const juegoIdBuscado = id;

// Paso 1: Buscar la jornada que contiene el juego
const jornadaEncontrada = TOTAL_JUEGOS.find(jornada => 
  jornada.juegos.some(juego => juego.id === juegoIdBuscado)
);

// Paso 2: Buscar el juego dentro de esa jornada
const juegoDetalle = jornadaEncontrada?.juegos.find(juego => juego.id === juegoIdBuscado);

const { equipo1, equipo2, resultado } = juegoDetalle;

---

<Layout title={id}>
  <main class="">
    <div>
      <div class="flex flex-row justify-center items-center gap-6">
        <h2
          class="text-green text-center text-3xl md:text-6xl my-10 -rotate-3"
          transition:name={`title-list-${id}-${equipo1}-1`}
        >
          {equipo1}
        </h2>
        <span transition:name="vs-span-title" class="text-xl text-white"
          >vs</span
        >
        <h2
          class="text-green text-center text-3xl md:text-6xl my-10 -rotate-3"
          transition:name={`title-list-${id}-${equipo2}-2`}
        >
          {equipo2}
        </h2>
      </div>
     
      <div
        class="flex flex-row gap-4 items-center justify-evenly my-5 py-20 bg-cover md:bg-center bg-no-repeat"
        style="background-image: url('/img/bg/campo.webp') "
      >
        <a href={`/equipos/${equipo1}`}>
          <img
            transition:name={`img-list-${id}-${equipo1}-1`}
            style="mask-image: linear-gradient(black 70%, transparent 100%);"
            src={`/img/equipos/${equipo1}.webp`}
            alt={`logo del equipo ${equipo1}`}
            class="w-28 h-28 md:w-60 md:h-60 object-cover rounded-full shadow-white transition-transform duration-300 ease-in-out transform hover:scale-105 hover:opacity-75"
          />
        </a>
        <span
          transition:name={`vs-span-${id}`}
          class="text-4xl md:text-6xl text-green rotate-12">vs</span
        >
        <a href={`/equipos/${equipo2}`}>
          <img
            transition:name={`img-list-${id}-${equipo2}-2`}
            style="mask-image: linear-gradient(black 75%, transparent 100%);"
            src={`/img/equipos/${equipo2}.webp`}
            alt={`logo del equipo ${equipo2}`}
            class="w-28 h-28 md:w-60 md:h-60 object-cover rounded-full shadow-white transition-transform duration-300 ease-in-out transform hover:scale-105 hover:opacity-75"
          />
        </a>
      </div>
      <Results resultado={resultado} />
      <WatchGame />
      
    </div>
    <Sponsors />
  </main>
</Layout>
