---
const players = Astro.props.players || [];
---

<div class="md:hidden overflow-x-auto">
  <div class="flex snap-x snap-mandatory overflow-x-auto gap-x-5">
    {
      players.map((player) => (
        <img
          loading="lazy"
          src={`/img/jugadores/${player.id}.webp`}
          alt={`Foto en pequeño del jugador ${player.id}-small`}
          class="player-link w-28 h-28 object-cover rounded-full shadow-lg transition-transform duration-300 ease-in-out transform hover:scale-110 hover:opacity-100 opacity-60"
          style="mask-image: linear-gradient(to bottom, black 60%, transparent 100%);"
          data-id={player.id}
          data-name={`${player.nombre} ${player.apellido}`}
          data-age={player.edad}
          data-country={player.pais}
          data-position={player.posicion}
        />
      ))
    }
  </div>
</div>
