---
const players = Astro.props;
---

<aside
  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg-grid-cols-5 gap-5"
>
  {
    players.players?.map((player) => (
      <a href={`/player/${player.id}`}>
        <span class="flex flex-col justify-center relative items-center bg-gradient-to-b from-white/10 via-transparent to-transparent">
          <img
            transition:name={`player-${player.id}`}
            loading="lazy"
            src={`/img/jugadores/${player.id}.webp`}
            alt={`Foto en pequeño del jugador ${player.id}-small`}
            class="player-image sm:w-32 -mt-5 px-4 h-auto transition hover:scale-110"
            style="mask-image: linear-gradient(to bottom, black 60%, transparent 90%);"
          />
          <span class="text-green text-sm sm:text-base font-bold -mt-7 text-center">
            {player.nombres} {player.apellidos}
          </span>
        </span>
      </a>
    ))
  }
</aside>
