---
const API_URL = import.meta.env.API_URL;
const response = await fetch(`${API_URL}/Final`).then((res) => res.json());
const { equipo1, equipo2 } = Astro.props;
const equipos = response.filter(
  (e) => e.equipo === equipo1 || e.equipo === equipo2
);
---

<div class="mx-5">
  <h1 class="text-2xl font-semibold my-8 text-center font-roboto text-green">
    Resultados del Juego
  </h1>
  <div class="overflow-x-auto">
    <table class="table-auto border-collapse border border-gray-300 w-full">
      <thead>
        <tr>
          <th class="border px-4 py-2 font-roboto">Equipo</th>
          <th class="border px-4 py-2 font-roboto">1er Inning</th>
          <th class="border px-4 py-2 font-roboto">2do Inning</th>
          <th class="border px-4 py-2 font-roboto">3er Inning</th>
          <th class="border px-4 py-2 font-roboto">4to Inning</th>
          <th class="border px-4 py-2 font-roboto">5to Inning</th>
          <th class="border px-4 py-2 font-roboto">6to Inning</th>
          <th class="border px-4 py-2 font-roboto">7mo Inning</th>
          <th class="border px-4 py-2 font-roboto">Total</th>
        </tr>
      </thead>
      <tbody>
        {
          equipos.map((equipo, index) => (
            <tr data-key={index}>
              <td class="border px-4 py-2 text-green ">{equipo.equipo}</td>
              <td class="border px-4 py-2">{equipo.primer}</td>
              <td class="border px-4 py-2">{equipo.segundo}</td>
              <td class="border px-4 py-2">{equipo.tercero}</td>
              <td class="border px-4 py-2">{equipo.cuarto}</td>
              <td class="border px-4 py-2">{equipo.quinto}</td>
              <td class="border px-4 py-2">{equipo.sexto}</td>
              <td class="border px-4 py-2">{equipo.septimo}</td>
              <td class="border px-4 py-2 text-red-500">{equipo.total}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</div>
