---

import { PLAYERS } from "../const/players";
const {equipo}=Astro.props
const PLAYERS_FILTER = PLAYERS.filter((player) => player.equipo === equipo);
---

<section class="my-40">
  <h3 class="text-2xl md:text-4xl font-semibold text-center my-5">
    Elige tu jugador
  </h3>
  <div class="flex flex-col justify-center items-center gap-8 mt-10">
    <article class="player" id="camilo-varon">
      <header class="flex flex-col items-center justify-center">
        <img
          transition:name="player-image"
          src={`/img/jugadores/${PLAYERS_FILTER[0].id}.webp`  }
          alt="Fotografia del jugador"
          class="player-photo w-96 h-auto"
          style="mask-image: linear-gradient(to bottom, black 80%, transparent 100%);"
        />
        <h4
          transition:name="player-title"
          class="player-title text-3xl text-green md:text-5xl text-center font-extrabold -mt-10 -rotate-6"
        >
          {PLAYERS_FILTER[0].nombre} {PLAYERS_FILTER[0].apellido}
        </h4>
        <img
          src={`/img/pais/${PLAYERS_FILTER[0].pais}.svg`}
          alt={`Bandera de ${PLAYERS_FILTER[0].pais}`}
          class="player-country w-14 mt-6"
        />
      </header>

      <footer>
        <div class="flex flex-row justify-center items-center gap-8 mt-4">
          <a href={`/player/${PLAYERS_FILTER[0].id}`} class="player-id text-sm hover:scale-110 hover:text-green">Ver Perfil</a>
        </div>
      </footer>
    </article>

    <aside class="mt-5 flex flex-row flex-wrap justify-evenly gap-5">
      {
        PLAYERS_FILTER.map(({ id, nombre, apellido, edad, posicion, pais }) => (
          <span
            
            class="player-link flex group relative justify-center items-center bg-gradient-to-b from-white/10 via-transparent to-transparent px-2 md:px-14"
            data-id={id}
            data-name={`${nombre} ${apellido}`}
            data-age={edad}
            data-country={pais}
            data-position={posicion}
          >
            <img
              
              loading="lazy"
              src={`/img/jugadores/${id}.webp`}
              alt={`Foto en pequeño del jugador ${id}-small`}
              class="player-image w-20 md:w-28 -mt-5 px-4 h-auto transition group-hover:scale-110"
              style="mask-image: linear-gradient(to bottom, black 60%, transparent 90%);"
            />
          </span>
        ))
      }
    </aside>
  </div>
</section>

<script>
  // Selección de los elementos donde vamos a actualizar la información
  const playerLinks = document.querySelectorAll(".player-link");
  const playerTitle = document.querySelector(".player-title");
  const playerCountry = document.querySelector(".player-country") as HTMLImageElement;
  const playerPosition = document.querySelector(".player-position");
  const playerAge = document.querySelector(".player-age");
  const playerId = document.querySelector(".player-id") as HTMLAnchorElement;
  const playerPhoto = document.querySelector(".player-photo") as HTMLImageElement;

  // Función que se encarga de actualizar la información del jugador

  playerLinks.forEach((playerLink) => {
    playerLink.addEventListener("click", (event) => {
      const { id, country, name, age, position } = (event.currentTarget as HTMLElement).dataset;

      playerTitle.textContent = name;
      playerCountry.src = `/img/pais/${country}.svg`;
      // playerPosition.textContent = `Posición: ${position}`;
      // playerAge.textContent = `Edad: ${age}`;
      playerId.href = `/player/${id}`;
      playerPhoto.src = `/img/jugadores/${id}.webp`;
    });
  });

 
</script>
