---
import Carrousel from "../components/Carrousel.astro";
import PlayerList from "../components/PlayerList.astro";

const { equipo, jugadores } = Astro.props;

const PLAYERS_FILTER = jugadores.filter((player) => player.equipo === equipo);

const MANAGER = PLAYERS_FILTER.find((player) => player.posicion === "manager");
---

<section class="my-20 md:my-20 mx-10">
  
  <div class="flex flex-col justify-center items-center gap-8 mt-10">
    <a href={`/player/${MANAGER.id}`}>
      <div class="flex flex-col justify-center items-center -mt-10">
        <img
          transition:name={`logo-${equipo}`}
          src={`/img/jugadores/${MANAGER.id}.webp`}
          alt={`Foto del manager ${MANAGER.id}`}
          class="w-40 h-auto rounded-full mx-auto hover:scale-110 hover:opacity-70"
        />
        <span>{MANAGER.nombres} {MANAGER.apellidos}</span>
        <span class="text-green text-sm">manager</span>
      </div>
    </a>
    <PlayerList players={PLAYERS_FILTER} />
  </div>
</section>
