---
const { equipo } = Astro.params;
import Layout from "../../layouts/Layout.astro";
import SelectPlayer from "../../sections/SelectPlayer.astro";
import { GET_PLAYERS } from "../../const/players";
import TeamStats from "../../components/TeamStats.astro";

const PLAYERS = await GET_PLAYERS();
const id = equipo;
---

<Layout title={`Softball-${equipo}`}>
  <main>
    <img
      transition:name={`logo-equipo-${id}`}
      src={`/img/equipos/${equipo}.webp`}
      alt={`Foto del equipo ${equipo}`}
      class="w-40 h-auto rounded-full mx-auto my-5"
    />
    <h1 class="text-3xl md:text-4xl text-center text-green">{equipo}</h1>
  
    <SelectPlayer equipo={equipo} jugadores={PLAYERS} />
    <TeamStats equipo={equipo} />
  </main>
</Layout>
